<%- include('../logouts/header.ejs') %>
    <link rel='stylesheet' type='text/css' href="/node_modules/mditor/dist/css/mditor.min.css">
    <script src='/node_modules/mditor/dist/js/mditor.min.js'></script>

    <div class="container-fluid">
        <h2>文章添加页面</h2>
        <hr>
        <form>
            <div class="form-group">
                <label>文章标题：</label>
                <input type="text" name="title" class="form-control" id='title' max='50' required value="<%= article.title %>">
            </div>

            <div class="form-group">
                <label>文章内容：</label>
                <textarea rows="" cols="" class="form-control" name='content' id='editor' style='display:none'><%= article.content %></textarea>
            </div>

            <div class="form-group clearfix">
                <input type="button" value="编辑文章" class='btn btn-primary pull-right' id='btn'>
            </div>
        </form>
    </div>
    <script>
        $(function() {
            var mditor = Mditor.fromTextarea(document.getElementById('editor'));

            $('#btn').on('click', function() {
                var title = $('#title').val().trim();
                var content = mditor.value;

                $.ajax({
                    url: '/article/edit',
                    type: 'post',
                    data: {
                        title: title,
                        content: content,
                        authorId: '<%= user.id %>',
                        id: '<%= article.id %>',
                        ctime: '<%= article.ctime %>'
                    },
                    dataType: 'json',
                    success: function(results) {
                        if (results.err_code === 0) {
                            location.href = '/article/info?id=<%= article.id %> ';
                        } else {
                            alert(results.msg);
                        }
                    }
                })
            })
        })
    </script>
    <%- include('../logouts/footer.ejs') %>